{% extends 'base.html.twig' %}

{% block title %}SupplierStatus{% endblock %}

{% block body %}
    <h1>SupplierStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ supplier_status.id }}</td>
            </tr>
            <tr>
                <th>Status_desc</th>
                <td>{{ supplier_status.statusDesc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('supplier_status_index') }}">back to list</a>

    <a href="{{ path('supplier_status_edit', {'id': supplier_status.id}) }}">edit</a>

    {{ include('supplier_status/_delete_form.html.twig') }}
{% endblock %}