{% extends 'base.html.twig' %}

{% block title %}Supplier{% endblock %}

{% block body %}
    <h1>Supplier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ supplier.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ supplier.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ supplier.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ supplier.status }}</td>
            </tr>
            <tr>
                <th>Contact_no</th>
                <td>{{ supplier.contactNo }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ supplier.location }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ supplier.createdAt ? supplier.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('supplier_index') }}">back to list</a>

    <a href="{{ path('supplier_edit', {'id': supplier.id}) }}">edit</a>

    {{ include('supplier/_delete_form.html.twig') }}
{% endblock %}