{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12"><a href="{{ path('product_index') }}">back to list</a></div>
        <div class="col-md-8">
            <h1 class="">Edit Product</h1>
            {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('product/_delete_form.html.twig') }}
        </div>
        <div class="col-md-4">
            <h1>Image</h1>

            {% if product.img != '' %}
                <a href="{{ asset('uploads/'~product.img) }}">
                    <img class="img-thumbnail image img-responsive thumbnail img-thumbnail" src="{{ asset('uploads/'~product.img) }}" style="max-width: 300px" />
                </a>
            {%  else %}
                <div class="fixed-bottom">
                    <img class="img-thumbnail image img-responsive thumbnail img-thumbnail" src="{{ asset('_images/no_image.jpg') }}" style="max-width: 300px" />
                </div>



            {% endif %}
            <div class="clearfix"> </div>
        </div>
    </div>








{% endblock %}