{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}
{% block header %}
    <h1>Product index</h1>
{% endblock %}
{% block body %}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr class="">
                {#<th>Id</th>#}
                <th>Product_code</th>
                <th>Description</th>
                <th>Supplier</th>
                <th>Supplier price</th>
                <th>Interest</th>
                <th>Computed</th>
                <th>Online Price</th>
                {#<th>Img</th>#}
                <th>Date Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                {#<td>{{ product.id }}</td>#}
                <td>{{ product.productCode }}</td>
                <td>{{ product.description }}</td>
                <td>
                    {#{{ product.supplierId }}#}
                    {{  product.supplier().name is defined ? product.supplier().name : ''  }}
                </td>
                <td>{{ product.supplierPrice }}</td>
                <td>{{ product.interestRate }}</td>
                <td>{{ product.computedPrice }}</td>
                <td>{{ product.onlinePrice }}</td>
                <td>{{ product.createdAt|date('M d,\'y h:i A') }}</td>
                {#<td>{{ product.img }}</td>#}
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}