{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <style>
        .div-row div:nth-child(1){
            min-width: 200px;

        }

        .div-row div:nth-child(2){
            padding-left: 10px;

        }

        .div-table{
            font-size: 2rem;
        }
    </style>
    <div class="row">
        <div class="col-md-6 "><a href="{{ path('product_index') }}">back to list</a></div>
    </div>
    <h1>Product</h1>
    <div class="col-md-12">
    <div class="div-table div-table-striped div-table-bordered">

            <div class="div-row">
                <div>Id</div>
                <div>{{ product.id }}</div>
            </div>
            <div class="div-row">
                <div>Product Code</div>
                <div>{{ product.productCode }}</div>
            </div>
            <div class="div-row">
                <div>Description</div>
                <div>{{ product.description }}</div>
            </div>
            <div class="div-row">
                <div>Supplier</div>
                <div>{{ product.supplier.name is defined ? product.supplier.name : '' }}</div>
            </div>
            <div class="div-row">
                <div>Supplier Price</div>
                <div> {{  product.supplierPrice  }}</div>
            </div>
            <div class="div-row">
                <div>Interest rate</div>
                <div>{{ product.interestRate }}</div>
            </div>
            <div class="div-row">
                <div>Computed   price</div>
                <div>{{ product.computedPrice }}</div>
            </div>
            <div class="div-row">
                <div>Online Price</div>
                <div>{{ product.onlinePrice }}</div>
            </div>
            {% if(product.img != "") %}
            <div class="div-row">
                <div>Image</div>
                <div><img class="img-thumbnail image img-responsive img-circle" src="{{ asset('uploads/') }}{{ product.img }}" />   </div>
            </div>
            {% endif %}

    </div>
    </div>
    <div class="row">

        <div class="col-md-12 text-right"><a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">edit</a></div>



    </div>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}