{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 "><a href="{{ path('product_index') }}">back to list</a></div>
    </div>
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Product_code</th>
                <td>{{ product.productCode }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ product.supplier.name }}</td>
            </tr>
            <tr>
                <th>Supplier_price</th>
                <td>{{ product.supplierPrice }}</td>
            </tr>
            <tr>
                <th>Interest_rate</th>
                <td>{{ product.interestRate }}</td>
            </tr>
            <tr>
                <th>Computed_price</th>
                <td>{{ product.computedPrice }}</td>
            </tr>
            <tr>
                <th>Online_price</th>
                <td>{{ product.onlinePrice }}</td>
            </tr>
            {% if(product.img != "") %}
            <tr>
                <th>Image</th>
                <td><img class="img-thumbnail image img-responsive img-circle" src="{{ asset('uploads/') }}{{ product.img }}" />   </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="row">

        <div class="col-md-12 text-right"><a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">edit</a></div>



    </div>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}